<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/courses.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
      <div style="text-align: center">
        <div class="welcomeMsg">
          <p style="font-size: 30px">
            <b>Welcome To Course<i>Flow</i>!</b><br>
            <span><b>Select a track</b></span>
          </p>
          <div class="yourSelection">
            <h1>Your Selection: {{ path_name }}</h1>
          </div>
        </div>
        <a href="{{ url_for('show_index') }}">
          <div class="homeButton">
            <img src="{{ url_for('static', filename='images/homebutton.jpeg') }}" alt="home button" style="max-width: 100%; max-height: 100%;">
            Home
          </div>
        </a>
        <div class="tracks">
          <div class="eng">
            <div class="school_title">
              <strong>CS-ENG</strong>
            </div>
            <a href ="{{ url_for('get_eng_hardware') }}">
              <div class="pathButton">
                Computer Hardware
              </div>
            </a>
            <a href ="{{ url_for('get_eng_infrastructure') }}">
              <div class="pathButton">
                Computing Infrastructure
              </div>
            </a>
            <a href ="{{ url_for('get_eng_intelligent_systems') }}">
              <div class="pathButton">
                Intelligent Systems
              </div>
            </a>
            <a href ="{{ url_for('get_eng_software') }}">
              <div class="pathButton">
                Software Development
              </div>
            </a>
            <a href ="{{ url_for('get_eng_theory') }}">
              <div class="pathButton">
                Theory of Computation
              </div>
            </a>
            <a href ="{{ url_for('get_eng_webtech') }}">
              <div class="pathButton">
                Web Technology and Applications
              </div>
            </a>
          </div>
  
          <div class="lsa">
            <div class="school_title">
              <strong>CS-LSA</strong>
            </div>
            <a href="{{ url_for('get_lsa_ai') }}">
              <div class="pathButton">
                  Artificial Intelligence
              </div>
            </a>
            <a href="{{ url_for('get_lsa_bio') }}">
              <div class="pathButton">
                  Bioinformatics
              </div>
            </a>
            <a href="{{ url_for('get_lsa_data_and_info') }}">
              <div class="pathButton">
                  Data and Information
              </div>
            </a>
            <a href="{{ url_for('get_lsa_econ') }}">
              <div class="pathButton">
                  Economics and Computation
              </div>
            </a>
            <a href="{{ url_for('get_lsa_robotics') }}">
              <div class="pathButton">
                  Robotics and Vision
              </div>
            </a>
            <a href="{{ url_for('get_lsa_security') }}">
              <div class="pathButton">
                  Security
              </div>
            </a>
            <a href="{{ url_for('get_lsa_software_development') }}">
              <div class="pathButton">
                  Software Development
              </div>
            </a>
            <a href="{{ url_for('get_lsa_software_systems') }}">
              <div class="pathButton">
                  Software Systems
              </div>
            </a>
            <a href="{{ url_for('get_lsa_theory') }}">
              <div class="pathButton">
                  Theory of Computation
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="courses">
        <div class = "coreClasses">
          <p style="font-size: 18px">
            <b>Core Classes</b>
          </p>
          {% for class in core_courses  %}

            {% if class.workload == "easy" %}
              <div class = "easy rectangle floatAboveEverything"></div>
            {% elif class.workload == "moderate" %}
              <div class = "moderate rectangle floatAboveEverything"></div>
            {% elif class.workload == "heavy" %}
              <div class = "heavy rectangle floatAboveEverything"></div>
            {% elif class.workload == "extremely heavy" %}
              <div class = "extremely-heavy rectangle floatAboveEverything"></div>
            {% endif %}

            <div class = "classblock">
              <span>{{ class.course }}</span>
              <br>
              <span>Median Grade: {{ class.median_grade }}</span>
              <br>
              <span>Course Title: {{ class.name }}</span>
            </div>
          {% endfor %}
        </div>
        <div class = "upperlevels">
          <p style="font-size: 18px">
            <b>Upper Level Classes</b>
          </p>

          {% for class in upper_courses  %}
            {% if class.workload == "easy" %}
              <div class = "easy rectangle floatAboveEverything"></div>
            {% elif class.workload == "moderate" %}
              <div class = "moderate rectangle floatAboveEverything"></div>
            {% elif class.workload == "heavy" %}
              <div class = "heavy rectangle floatAboveEverything"></div>
            {% elif class.workload == "extremely heavy" %}
              <div class = "extremely-heavy rectangle floatAboveEverything"></div>
            {% endif %}

            <div class = "classblock">
              <span>{{ class.course }}</span>
              <br>
              <span>Median Grade: {{ class.median_grade }}</span>
              <br>
              <span>Course Title: {{ class.name }}</span>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="colorKey">
        <div class="workloadTitle">
          <strong>Workload Key</strong>
        </div>
        <div class="easy colorKeyBlock">
          Easy
        </div>
        <br>
        <div class="moderate colorKeyBlock">
          Moderate
        </div>
        <br>
        <div class="heavy colorKeyBlock">
          Heavy
        </div>
        <br>
        <div class="extremely-heavy colorKeyBlock">
          Extremely Heavy
        </div>
      </div>
    </body>
</html>
<br/><br/>

