<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
    </head>
    <body>


      <div style="text-align: center">

        <p style="font-size: 30px">
          <b>Welcome To Course<i>Flow</i>!</b>
          <br>
          <span style=""><b>Choose a track below</b></span>
          <br>
          <span><a href="{{ url_for('show_index') }}">Return to home</a></span>
        </p>

        <!-- Names of routes below (For each school)
        (Computer Hardware, Bioinformatics) need to be placed within
        <a> tags, where href="url_for('X')" where X is the name of the route's
        function (ex. 'get_lsa_ai')
       -->

        <p style="font-size: 20px">
          CS-ENG:
        </p>

        <p>
          <a href ="{{ url_for('get_eng_hardware') }}">Computer Hardware</a>
          <br>
          <a href ="{{ url_for('get_eng_infrastructure') }}">Computing Infrastructure</a>
          <br>
          <a href ="{{ url_for('get_eng_intelligent_systems') }}">Intelligent Systems</a>
          <br>
          <a href ="{{ url_for('get_eng_software') }}">Software Development</a>
          <br>
          <a href ="{{ url_for('get_eng_theory') }}">Theory of Computation</a>
          <br>
          <a href ="{{ url_for('get_eng_webtech') }}">Web Technology and Applications</a>
        </p>

        <p style="font-size: 20px">
          CS-LSA:
        </p>

        <p>
          <a href="{{ url_for('get_lsa_ai') }}">Artificial Intelligence</a>
          <br>
          <a href="{{ url_for('get_lsa_bio') }}">Bioinformatics</a>
          <br>
          <a href="{{ url_for('get_lsa_data_and_info') }}">Data and Information</a>
          <br>
          <a href="{{ url_for('get_lsa_econ') }}">Economics and Computation</a>
          <br>
          <a href="{{ url_for('get_lsa_robotics') }}">Robotics and Vision</a>
          <br>
          <a href="{{ url_for('get_lsa_security') }}">Security</a>
          <br>
          <a href="{{ url_for('get_lsa_software_development') }}">Software Development</a>
          <br>
          <a href="{{ url_for('get_lsa_software_systems') }}">Software Systems</a>
          <br>
          <a href="{{ url_for('get_lsa_theory') }}"></a>
        </p>


      </div>

      <div style="text-align: center">

        Your Selection: {{ path_name }}

      </div>

      <div style="text-align: center">
          <p style="font-size: 18px">
            <b>Core Classes</b>
          </p>

          {% for class in core_courses  %}

          <span>{{ class.course }}</span><span>{{ class.median_grade }}</span>
          <span>{{ class.workload }}</span><span>{{ class.name }}</span>

          <br>

          {% endfor %}

          <br>

          <p style="font-size: 18px">
            <b>Upper Level Classes</b>
          </p>

          {% for class in upper_courses  %}

          <span>{{ class.course }}</span><span>{{ class.median_grade }}</span>
          <span>{{ class.workload }}</span><span>{{ class.name }}</span>

          <br>

          {% endfor %}

      </div>



    </body>
</html>
<br/><br/>
<style> *

    {
        font-family: 'Inter', sans-serif;
    }

    body
    {
        background-color: #f2f2f2;
    }

    


</style>
