* {
    box-sizing: border-box;
}
.floatAboveEverything {
	z-index: 1000;
	position: absolute;
}
body {
    font-size: 14px;
}

a:link {
    color:black;
    text-decoration: none;
}
a:visited {
    color:black;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: none;
}
a:active {
    color:black;
    text-decoration: none;
}

/* Header styling */
.header {
    display: block;
    height:100px;
}
.homeButton {
    position: absolute;
    left:20px;
    top:20px;
    width:50px;
    height:50px;
    font-size: 16px;
}
.homeButton:hover {
    opacity: 0.4;
}
.yourSelection {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size:14px;
    width:600px;
    left: 80px;
}
.welcomeMsg {
    font-size: 30px;
    position: absolute;
    left:400px;
}

/* Workload styling */
.rectangle{
    display:block;
    width: 20px;
    height:60px;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-bottom: -50px;
}
.easy{
    background-color: #20CE46;
    color: black;
}
.moderate{
    background-color: #F7FB57;
    color: black;
}
.heavy{
    background-color: #FB9A40;
    color: black;
}
.extremely-heavy{
    background-color: #ff6666;
    color: black;
}
.colorKey{
    position: relative;
    display: inline-block;
    left: 100px;
}
.colorKeyBlock{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height:30px;
    margin-right: 5px;
}
.workload {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


/* courses styling */
.courses {
    position:absolute;
    left:470px;
    top:180px;
    height:450px;
    text-align: center;
}
.coreClasses{
    position:absolute;
    left:0px;
    top:0px;
}
.upperlevels{
    position:absolute;
    left:400px;
}
.classblock{
    background-color: #dadada;
    display:block;
    padding-left:30px;
    width:300px;
    margin-top: 10px;
    height: 70px;
}

/* tracks styling */
.tracks {
    position:relative;
    top:40px;
    left:40px;
    padding:10px 0;
}
.lsa{
    position: relative;
    width:180px;
    height: 50px;
    top:10px;
    border: 0.5px solid #c1c1c1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.eng{
    position: relative;
    width:180px;
    height: 50px;
    border: 0.5px solid #c1c1c1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.pathButton {
    display: none;
    left:10px;
    background-color: #e1e1e1;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 0.5px solid #c1c1c1;
}
.pathButton:hover {
    background-color: #a6a6a6;
}
.school_title {
    color:black;
    height: 50px;
    width:180px;
    background-color: #95bcf0;
    font-size: 30px;
    padding:10px 0;
}
.eng:hover .pathButton {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    top:-50px;
    left:180px;
    width:180px;
    height: 50px;
}
.lsa:hover .pathButton {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    top:-50px;
    left:180px;
    width:180px;
    height: 50px;
}